<div class="container">
    <h2>Contact Us</h2>
    <ul>
        <li>Temus Pte. Ltd.</li>
        <li>Pasir Panjang Road, Mapletree Business City</li>
        <li>Singapore</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod libero provident sed totam, impedit deleniti rem
        doloribus dignissimos eum dolorem voluptas dolores cupiditate repellat animi magnam nesciunt porro debitis
        consequuntur?
        Assumenda tempora, sint deleniti velit nihil magnam accusantium, ipsum sapiente doloribus tempore temporibus
        vitae et perferendis. Fugiat nulla suscipit sit natus dolores magnam illum possimus! Magni aliquam facere veniam
        atque.
        Amet cum omnis numquam repellendus culpa. Deserunt magnam quos, quas fuga doloremque corrupti pariatur inventore
        delectus voluptates deleniti at cupiditate repudiandae vel, fugit, omnis ab quasi quibusdam ipsum illum
        architecto?</p>
</div>