img {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 100px;
    top: 100px;
    transition: all 0.5s;
}

img:hover{
    /* transform: scale(2,2); */
    /* width: 400px;
    height: 400px; */
    /* transform: rotateY(180deg) rotateX(180deg); */
    transform: rotate(360deg) scale(2,2);
}